# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Visual Studio
.vs/
/.vscode/
*.csproj
*.sln

# JetBrains Rider
.idea/

# Mac OS files
.DS_Store

# Windows files
Thumbs.db
